<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Котегории</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'categoryTransactions'})"></div>
<h1 align="center">Категории</h1>
<div align="center">
<button onclick="window.location.href='fill_save_form'">Добавить категорию</button>
</div>
<main role="main" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categoryTransactions}">
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{'/admin/category_transaction/fill_update_form?id=' + ${category.id}}"><img th:src="@{/images/edit.png}" width="30" height="30"></a>
                <a th:href="@{'/admin/category_transaction/delete?id=' + ${category.id}}"><img th:src="@{/images/delete.png}" width="30" height="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>