<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Транзакции</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'transactions'})"></div>
<h1 align="center">Транзакции</h1>
<div align="center">
    <button onclick="window.location.href='fill_save_form'">Добавить транзакцию</button>
</div>
<main role="main" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Отправитель</th>
            <th scope="col">Получатель</th>
            <th scope="col">Дата</th>
            <th scope="col">Перевод</th>
            <th scope="col">Категория транзакции</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.sender.name}"></td>
            <td th:text="${transaction.receiver.name}"></td>
            <td th:text="${transaction.transactionDate}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.transactionCategory.name}"></td>
            <td>
                <a th:href="@{'/transaction/fill_update_form?id=' + ${transaction.id}}"><img th:src="@{/images/edit.png}" width="30" height="30"></a>
                <a th:href="@{'/transaction/delete?id=' + ${transaction.id}}"><img th:src="@{/images/delete.png}" width="30" height="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>