<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Счёт</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header(current = ${'transactions'})"></div>
<form th:action="@{/transaction/save}" th:object="${transaction}" method="post">
    <input type="hidden" th:value="${id}" th:field="*{id}"/>
    <table>
        <tr>
            <td>Отправитель:</td>
            <td>
                <select th:field="*{sender.id}">
                    <option th:each="account : ${accounts}"
                            th:value="${account.id}"
                            th:text="${account.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Получатель: </td>
            <td>
                <select th:field="*{receiver.id}">
                    <option th:each="account : ${accounts}"
                            th:value="${account.id}"
                            th:text="${account.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Перевод:</td>
            <td><input type="text" th:field="*{amount}"/></td>
        </tr>
        <tr>
            <td>Категория: </td>
            <td>
                <select th:field="*{transactionCategory.id}">
                    <option th:each="transactionCategory : ${categoryTransactions}"
                            th:value="${transactionCategory.id}"
                            th:text="${transactionCategory.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Сохранить"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>