<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Главная страница</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<div th:fragment="header (current)">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Home page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${current == 'transactions'} ? 'active'">
                    <a class="nav-link" th:href="@{'/transaction/find_all'}">Транзакции</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'accounts'} ? 'active'">
                    <a class="nav-link" th:href="@{'/account/find_all'}">Счета</a>
                </li>
                <li class="nav-item" th:classappend="${current == 'currencies'} ? 'active'">
                    <a class="nav-link" th:href="@{'/currency/find_all'}">Валюты</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item" th:classappend="${current == 'categoryTransactions'} ? 'active'">
                    <a class="nav-link" th:href="@{'/admin/category_transaction/find_all'}">Категории транзакций</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item" th:classappend="${current == 'accountTypes'} ? 'active'">
                    <a class="nav-link" th:href="@{'/admin/account_type/find_all'}">Типы счетов</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item" th:classappend="${current == 'currencyChangeHistories'} ? 'active'">
                    <a class="nav-link" th:href="@{'/admin/currency_change_history/find_all'}">Изменения валют</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <br/><br/><br/>
</div>
</body>
</html>
