<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Авторизация</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
   <!-- <link th:href="@{/static/css/loginPage.css}" rel="stylesheet"/>-->
</head>
<body>

<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div th:if="${param.error}">
            <div class="alert alert-danger" role="alert">
                Ошибка авторизации.<br>
                Invalid username and password.
            </div>

        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info" role="alert">Вы вышли.</div>
        </div>

        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" name="username" class="form-control" placeholder="login"
               th:required="required" th:autofocus="autofocus"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
               th:required="required"/>
     <!--   <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <h4 class="text-center"><a th:href="@{'/registration'}">Create an account</a></h4>
    </form>

</div>
<!--
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form action="/" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label th:text="#{label.user.firstName}">first</label>
            <input th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.lastName}">last</label>
            <input th:field="*{lastName}"/>
            <p th:each="error : ${#fields.errors('lastName')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.email}">email</label>
            <input type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.password}">password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.user.confirmPass}">confirm</label>
            <input type="password" th:field="*{matchingPassword}"/>
        </div>
        <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
 
<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</body>-->
<!-- /container
<div class="container">

    <form method="POST" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" name="username" class="form-control" placeholder="login"
               th:required="required" th:autofocus="autofocus"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
               th:required="required"/>
        
        <div class="form-group ${error != null ? 'has-error' : ''}">
            <span>${message}</span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span>${error}</span>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="${contextPath}/registration">Create an account</a></h4>
        </div>

    </form>

</div>
-->
</body>
</html>