<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
 <!--   <link th:href="@{/static/css/loginPage.css}" rel="stylesheet"/>-->
</head>
<body>
<div class="container">
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <h2 class="form-signin-heading">Create your account</h2>
        <div class="form-group ${status.error ? 'has-error' : ''}">
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus="true"/>
            <p th:each="error: ${#fields.errors('username')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group ${status.error ? 'has-error' : ''}">
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
            <errors th:field="*{password}"></errors>
        </div>
        <div class="form-group ${status.error ? 'has-error' : ''}">
            <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm your password"/>
            <errors th:field="*{confirmPassword}"></errors>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
</body>
</html>