<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Тип счёта</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header(current = ${'accountTypes'})"></div>
<form th:action="@{/admin/account_type/save}" th:object="${accountType}" method="post">
    <input type="hidden" th:value="${id}" th:field="*{id}"/>
    <table>
        <tr>
            <td>Имя типа счёта:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Сохранить"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>