<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Типы счетов</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'accountTypes'})"/>
<h1 align="center">Типы счетов</h1>
<div align="center">
    <button sec:authorize="hasRole('ADMIN')" onclick="window.location.href='fill_save_form'">Добавить тип счёта</button>
</div>
<main role="main" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accountType : ${accountTypes}">
            <td th:text="${accountType.name}"></td>
            <td>
                <a th:href="@{'/admin/account_type/fill_update_form?id=' + ${accountType.id}}"><img th:src="@{/images/edit.png}" width="30" height="30"></a>
                <a th:href="@{'/admin/account_type/delete?id=' + ${accountType.id}}"><img th:src="@{/images/delete.png}" width="30" height="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>