<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Счёт</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header(current = ${'accounts'})"></div>
<form th:action="@{/account/save}" th:object="${account}" method="post">
    <input type="hidden" th:value="${id}" th:field="*{id}"/>
    <table>
        <tr>
            <td>Имя счёта:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Тип аккаунта:</td>
            <td>
                <select th:field="*{type.id}">
                    <option th:each="type : ${accountTypes}"
                            th:value="${type.id}"
                            th:text="${type.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Размер счёта: </td>
            <td>
                <input type="text" th:field="*{amount}"/>
                <select th:field="*{currency.id}">
                    <option th:each="currency : ${currencies}"
                            th:value="${currency.id}"
                            th:text="${currency.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Сохранить"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>