<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Чарт расходов</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'accounts'})"></div>
<h3 align="center">Чарт расходов</h3>
<canvas id="chart" width="50" height="50"/>
<script type="text/javascript" src="../static/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrapCharts.min.js"></script>
<script type="text/javascript" src='../static/js/Chart.min.js'></script>
<script type="text/javascript" src='../static/js/chartAccount.js'></script>
</body>
</html>