<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Счета</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
  <!-- <link th:href="@{/css/bootstrapCharts.min.css}" rel="stylesheet"/>-->
</head>
<body>
<div th:insert="header :: header(current = ${'accounts'})"></div>
<h1 align="center">Список счетов</h1>
<div align="center">
    <button onclick="window.location.href='fill_save_form'">Добавить счёт</button>
</div>
<main role="main" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата регистрации</th>
            <th scope="col">Тип аккаунта</th>
            <th scope="col">Остаток счёта</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.name}"></td>
            <td th:text="${account.registrationDate}"></td>
            <td th:text="${account.type.name}"></td>
            <td th:text="|${account.amount} ${account.currency.symbol}|"></td>
            <td>
                <a th:href="@{'/account/chart?id=' + ${account.id}}"><img th:src="@{/images/pieChart.png}" width="30" height="30"></a>
                <a th:href="@{'/account/fill_update_form?id=' + ${account.id}}"><img th:src="@{/images/edit.png}" width="30" height="30"></a>
                <a th:href="@{'/account/delete?id=' + ${account.id}}"><img th:src="@{/images/delete.png}" width="30" height="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>