<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Валюты</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'currencies'})"></div>
<h1 align="center">Список валют</h1>
<div align="center">
    <button sec:authorize="hasRole('ADMIN')" onclick="window.location.href='admin/fill_save_form'">Добавить валюту
    </button>
    <br/>Главная валюта
    <form>
        <select id="selectCurrency">
            <option th:each="currency : ${currencies}"
                    th:value="${currency.id}"
                    th:text="${currency.name}"
                    th:selected="${currency.id == mainCurrency.id}"/>
        </select>
    </form>
</div>
<script type="text/javascript" src="../static/js/jquery-1.12.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#selectCurrency').change(function () {
            var select = document.getElementById("selectCurrency");
            $.ajax({
                type: 'GET',
                data: {id: select.options[select.selectedIndex].value},
                url: 'setMainCurrency',
                success: function () {
                    location.reload();
                }
            });
        });
    });
</script>
<main role="main" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Символ</th>
            <th scope="col">Курс</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency : ${currencies}">
            <td th:text="${currency.name}"></td>
            <td th:text="${currency.symbol}"></td>
            <td th:text="${currency.courseTo}"></td>
            <td>
                <a th:href="@{'/currency/graph?id=' + ${currency.id}}"><img th:src="@{/images/graph.png}" width="30" height="30"></a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/currency/admin/fill_update_form?id=' + ${currency.id}}"><img th:src="@{/images/edit.png}" width="30" height="30"></a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/currency/admin/delete?id=' + ${currency.id}}"><img th:src="@{/images/delete.png}" width="30" height="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>