<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>График зависимости</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'currencies'})"></div>
<h3 align="center">График зависимости относительно главной купюры: последняя неделя</h3>
<h4 th:text="|${mainCurrency.name}/${currency.name}|"></h4>
<canvas id="chart" width="1000" height="400"></canvas>
<script type="text/javascript" src="../static/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrapCharts.min.js"></script>
<script type="text/javascript" src='../static/js/Graph.min.js'></script>
<script type="text/javascript" src='../static/js/graphCurrencyHistory.js'></script>
</body>
</html>