<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Изменение валюты</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header(current = ${'currencyChangeHistories'})"></div>
<form th:action="@{/admin/currency_change_history/save}" th:object="${currencyChangeHistory}" method="post">
    <input type="hidden" th:value="${id}" th:field="*{id}"/>
    <table>
        <tr>
            <td>Валюта :</td>
            <td>
                <select th:field="*{currency.id}">
                    <option th:each="currency : ${currencies}"
                            th:value="${currency.id}"
                            th:text="${currency.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Курс :</td>
            <td><input type="text" th:field="*{courseTo}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Сохранить"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>