<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Изменения валют</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header(current = ${'currencyChangeHistories'})"></div>
<h1 align="center">Изменения валют</h1>
<div align="center">
<button onclick="window.location.href='fill_save_form'">Добавить изменение валюты</button>
</div>
<main role="main" class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Валюта</th>
            <th scope="col">Курс</th>
            <th scope="col">Дата изменения</th>
            <th scope="col">Главная валюта</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="changeHistory : ${currencyChangeHistories}">
            <td th:text="${changeHistory.currency.name}"></td>
            <td th:text="${changeHistory.courseTo}"></td>
            <td th:text="${changeHistory.changeDate}"></td>
            <td th:text="${changeHistory.currencyTo.name}"></td>
            <td>
                <a th:href="@{'/admin/currency_change_history/fill_update_form?id=' + ${changeHistory.id}}"><img th:src="@{/images/edit.png}" width="30" height="30"></a>
                <a th:href="@{'/admin/currency_change_history/delete?id=' + ${changeHistory.id}}"><img th:src="@{/images/delete.png}" width="30" height="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
